

<html>
    <head>
        <style>

html {
    height: 100%;
}

            div {
    position: absolute;
    height: 100px;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;

                margin: auto;
            }
            h1, form {
    text-align: center;
                color: white;
            }
        </style>
    </head>

    <body bgcolor=<?php echo $status ? "#ff3300" : "#009900";?>>
<div>
    <h1><?php echo $status ? "Jetzt nicht..." : "Los geht's";?></h1>
    <?php if (!$status) : ?>
        <form action="reserve.php" method="get">
            <input type="submit" value="Reservieren" />
        </form>
    <?php endif ?>
</div>
</body>
</html>
